/* CSS inspiration from:
     http://www.visualdesigncore.com/tutorials/HTML-CSS/2-Column-Layout/
     http://css.maxdesign.com.au/floatutorial/tutorial0815.htm
*/



body
{
   font-family: Carlito, Calibri, Arial, Helvetica, sans-serif;
   font-size: 100%;
   text-align: center; /* IE hack -- margin-auto in container doesn't work */
   background-color: #ffffff;
   margin: 1em;
   margin-bottom: 2em;
background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */

background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */

background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */

background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 12+ */

background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */

background: radial-gradient(ellipse at center,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

/* 
   the container to hold the content of the entire page: header,
   menubar, content area, and footer 
*/

#container
{
   width: 780px;
   margin: 0 auto; 
   background-color: #ffffff;
   color: #000000;
   border: 3px solid black;
   -moz-box-shadow: 10px 10px 5px #888;
   -webkit-box-shadow: 10px 10px 5px #888;
   box-shadow: 10px 10px 5px #888;
   line-height: 130%;
/*   background: url(/astro/images/bg_180_SBblue.png) repeat-y; */
   background: url(./images.new/bg_180_SBblue2_black.png) repeat-y;
   text-align: left; /* undo IE hack to body */
}

#containerw
{
   width: 780px;
   margin: 0 auto; 
   background-color: #ffffff;
   color: #000000;
   border: 3px solid black;
   -moz-box-shadow: 10px 10px 5px #888;
   -webkit-box-shadow: 10px 10px 5px #888;
   box-shadow: 10px 10px 5px #888;
   line-height: 130%;
/*   background: url(/astro/images/bg_180_SBblue.png) repeat-y; */
   background: url(./images.new/bg_180_SBblue.png) repeat-y;
   text-align: left; /* undo IE hack to body */
}


#containernw
{
   width: 780px;
   margin: 0 auto; 
   background-color: #ffffff;
   color: #000000;
   border: 3px solid black;
   -moz-box-shadow: 10px 10px 5px #888;
   -webkit-box-shadow: 10px 10px 5px #888;
   box-shadow: 10px 10px 5px #888;
   line-height: 130%;
   text-align: left; /* undo IE hack to body */
}


/* 
   the header at the top of each page
*/

#header
{
   padding: .5em;
   padding-left: 26px;
   background-color: #990000;
   border-bottom: 3px solid black;
/*   height: auto; */
   height: 115px;
}


#header img
{
  float: left;
  top: 5px;
  left: 5px;
  display: block;
  border: 0;
}

#header h1
{
   padding: 0;
   margin: 0;
   /* color: #FFFF66; */
   color: #FFff66; 
   text-align: center;
   font: normal 32px "Trebuchet MS", Carlito, Calibri, Helvetica, sans-serif;

}

#header h2
{
   padding: 0; 
   margin: 0;
   color: white;
   text-align: center;
   font: normal 20px "Trebuchet MS", Carlito, Calibri, Helvetica, sans-serif;

}


/*
   the menubar holds the main menu to navigate the site
*/

#menubar
{
   font: Carlito, Calibri, Arial, Helvetica, sans-serif;
   font-size: 100%;
   float: left;
   width: 178px;
   margin: 0;
   padding: 0;
   /* background: #003399; */
   line-height: 100%;
}

#menubar ul 
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   border: none;
}

#menubar li 
{
   /* background: #003399; */
   font-size: 120%;
   /* font-weight: bold; */
   text-align: center;
   margin: 0;
   padding: 0;
   padding-left: 0px;
   padding-bottom: 0px;
}

#menubar li.divider 
{ 
   border-bottom: 1px dotted #888888; 
   padding: 0;
   margin: 0;
   font-size: 0; /* needed for IE */
   width: 178px; /* needed for IE */
   list-style: none;
   line-height: 0;
   overflow: hidden;
   vertical-align: bottom; /* needed for IE */
}

#menubar ul li a 
{
   text-decoration: none;
   color: white;
   display: block;
   padding: 6px 0 6px 0;
   margin: 0;
   border: 1px solid transparent;
   width: 178px; /* needed for IE */
   vertical-align: bottom; /* needed for IE */
}

#menubar ul li a:hover 
{
   color: #ffffff;
   /* background-color: #bbeeff; */
   /* background-color: #FFFF66; */
   background-color: #3399ff; /* FFff66; */
   border: 1px solid #000000;
   display: block;
   width: 178px;
   padding: 6px 0 6px 0;
   margin: 0;
   vertical-align: bottom; /* needed for IE */
}


#menubar .current a 
{
   color: #990000;
   /* background-color: #bbeeff; */
   /* background-color: #FFFF66; */
   background-color: #FFff66;
   border: 1px solid #990000;
   display: block;
}


/*
   the news area is on the right on the main page
*/

#right
{
margin-top: 0;
width: 198px;
float: right;
height: 100%;
}

#news
{
  margin: 0em 0.5em 0em 0.0em;
  padding: 0;
}

#news h1
{
   font: Carlito, Calibri, Arial, Helvetica, sans-serif;
   font-size:120%;
   padding: 0;
   padding-left: 0.75em;
   text-align: left;
   color: #003399;
}

#news ul
{
  padding-left: 0em;
  margin: 0;
}

#news li
{
   font-size: 90%;
   padding-left: 0.75em;
   padding-bottom: 1.0em;
   padding-top: 0.5em;
   list-style-type: none;
}

#news li.divider 
{ 
   border-bottom: 1px dotted #888888; 
   padding: 0px;
   margin: 0;
   font-size: 0; /* needed for IE */
   width: 198px; /* needed for IE */
   list-style: none;
   line-height: 0;
   overflow: hidden;
   vertical-align: bottom; /* needed for IE */
}


/*
   the content area is the main portion of each page where we display the 
   content unique to that page
*/

#content
{
background: white;
margin: 0;
padding: 0;
margin-left: 182px;
margin-right: 198px;
/* padding: 1em; */
}


#special em
{
   color: #990000;
}

#special
{
margin: 0;
padding: 0;
margin-left: 182px;
margin-right: 198px;
background-color: #ffffff;
border-bottom: 3px solid black;
padding: 0em;
padding-left: 1em;
}



#contentw
{
background: white;
margin-left: 180px;
border-left: 3px solid black;
padding: 1em;
}

#contentnw
{
background: white;
padding: 1em;
}

#specialw
{
background-color: #FFff66;
margin-left: 180px;
border-left: 3px solid black;
border-bottom: 1px solid black;
padding: 1em;
}

#specialw h2
{
   padding: 0; 
   margin: 0;
   color: blue;
   text-align: center;
   font: normal 20px "Trebuchet MS", Carlito, Calibri, Helvetica, sans-serif;
}



#contentnw img.center
{
 
    display: block;
    margin: 0 auto;
    margin-top: 1em;
}


#contentw img.right 
{
   float:right;
   border:none;
   margin:0px 0px 15px 20px;
}

#contentw img.left 
{
   float:left;
   border:none;
   margin:0px 20px 15px 0px;
}

#contentw h1
{
   font: italic 22px Carlito, Calibri, Arial, Helvetica, sans-serif;
   text-align: left;
   color: #003399;
}

#contentw h1.center
{
   font: italic 22px Carlito, Calibri, Arial, Helvetica, sans-serif;
   text-align: center;
   color: #003399;
}

#contentnw h1
{
   font: italic 22px Carlito, Calibri, Arial, Helvetica, sans-serif;
   text-align: left;
   color: #003399;
}

#contentnw h1.center
{
   font: italic 22px Carlito, Calibri, Arial, Helvetica, sans-serif;
   text-align: center;
   color: #003399;
}

#contentw h1.redcenter
{
   font: italic 22px Carlito, Calibri, Arial, Helvetica, sans-serif;
   text-align: center;
   color: #FF3333;
}

#contentw h2
{
   font: italic 16px Carlito, Calibri, Arial, Helvetica, sans-serif;
   text-align: left;
   color: #003399;
   padding-top: 10px;
}

#contentnw h2
{
   font: italic 16px Carlito, Calibri, Arial, Helvetica, sans-serif;
   text-align: left;
   color: #003399;
   padding-top: 10px;
}


#contentw table
{
   margin-left: auto;
   margin-right: auto;
   width: 98%;
}

#contentw td.date
{
   width: 15%;
}

#contentw td.seminar
{
   min-width: 40%;
}


/*
#contentw tr.gray td 
{
   background-color: #dddddd;
}
*/


#contentw dt
{
   padding-top: 0em;
}

#contentw dd
{
   padding-bottom: 1em;
}

/*
   research is on the main page, where we show a highlight
*/

#research h1
{
   font: normal 16px Carlito, Calibri, Arial, Helvetica, sans-serif;
   text-align: center;
   color: #888888;
}

.center 
{
   margin: 0;
   text-align: center;
}

#research .caption
{
   margin: 0.5em 1em 0 1em;   
   color: #003399;
   line-height: 120%;
}

#research p.caption
{
   font-family: Carlito, Calibri, Arial, Helvetica, sans-serif;
   font-style: italic;
   font-size: 90%;
}

/*
   people is in the content area of the directory
*/

#people
{
}

#people tr:nth-child(even) {background: #ffffff}
#people tr:nth-child(odd) {background: #eeeeee}

#people tr.directory {background: #ffffff;}
#people tr.legend {background: #ffffff;}

#people td
{
   font-size: 95%;
   text-align: left;
   padding: 0.25em 0.5em 0.25em 0.5em;
   padding-top: 0.5em;
   padding-bottom: 0.5em;

}

#people tr
{
}

#people td.directory
{
   font: italic 100% Carlito, Calibri, Arial, Helvetica, sans-serif;
   text-align: left;
   padding-top: 3em;
   padding-bottom: 0.25em;
   border-style: solid;
   border-width: 0px;
   border-bottom-width: thin;
   color: #777777;
}

#people tr.legend
{
   font-size: 90%;
   text-align: left;
   color: #777777;
}

#people td.legend
{
   font-size: 90%;
   text-align: left;
   color: #777777;
   padding-bottom: 0em;
}


#people table 
{
   margin-left: auto;
   margin-right: auto;
   padding: 0;
   border: 0px;
   border-collapse: collapse;
}

#people caption
{
   font-size: 90%;
   padding: 0;
   margin: 2em auto;
   text-align: left;
}

#people p
{
   padding: 0;
   margin: 0.5em 0 0 0; 
   font-size: 90%;
}


#people em.title
{
   font-size: 80%;
   color: #555555;
   line-height: 1;
}

#people tr.blank_row {background: #ffffff;   height: 2px; padding: 0em;}
#people td.blank_row {padding: 0em;}


#people em.interests
{
   font-size: 90%;
   color: #000000;
   line-height: 1;
}

#people em.email
{
   font-size: 90%;
   color: #000000;
}


#bigright 
{
   font-size: 90%;
   color: gray;
   float: right;
   width: 330px;
   margin: 0 0 10px 15px;
   padding: 5px;
   border: none;
   text-align: left;
}

.fac_right {float: right;
           width: 198px;
           margin: 0 0 15px 20px;
           padding: 5px;
           border: none;
           text-align: center;}

.fac_left {float: left;
           width: 150px;
           margin: 0 20px 15px 0px;
           padding: 3px;
           border: none;
           text-align: center;}

.fac_leftw {float: left;
           width: 250px;
           margin: 0 20px 15px 0px;
           padding: 3px;
           border: none;
           text-align: center;}



#alumni
{
}

#alumni em.advisor
{
color: #666666;
}

#alumni em
{
color: #0000ff;
}

#alumni ul 
{
   padding: 0em;
   margin: 1em 0 0 4em;
   border: none;
}

#alumni li 
{
   padding: 0.5em;
}



/*
   the footer is at the bottom of each page
*/

#footer
{
   clear: both;
   text-align: center;
   margin: 0;
   padding: .5em;
   color: white;
   background-color: #990000;
   border-top: 3px solid black;
   font: normal 14px "Trebuchet MS", Carlito, Calibri, Helvetica, sans-serif;
}

#mtsb_gallery p
  {   text-align: center;}

#mtsb_gallery h2
  {   text-align: center;}



